* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.kotak {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: space-evenly;
  align-items: center;
}

.kotak .signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80%;
  background-color: lightgreen;
  text-decoration: none;
  color: white;
  font-size: 2em;
  border-radius: 20px;
}

.kotak .signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80%;
  background-color: salmon;
  text-decoration: none;
  color: white;
  font-size: 2em;
  border-radius: 20px;
}

.kotak a:active {
  border: 1px solid black;
  color: black;
}
